/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Uncomment and set colors */
/*
::-moz-selection  { background: #fe57a1; color: #fff; text-shadow: none; }
::selection       { background: #fe57a1; color: #fff; text-shadow: none; }
*/
a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) {
  overflow: hidden; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

.visuallyhidden, form label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.wrapper, body > main,
body > header > * {
  margin: 0 auto;
  width: 70%;
  max-width: 1000px; }
  @media screen and (max-width: 750px) {
    .wrapper, body > main,
    body > header > * {
      width: 80%; } }
  @media screen and (max-width: 500px) {
    .wrapper, body > main,
    body > header > * {
      width: 87%; } }

#border {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 10px rgba(0, 0, 0, 0.1);
  z-index: -1; }
  @media screen and (max-width: 500px) {
    #border {
      border-width: 5px; } }

em {
  font-style: italic; }

html {
  background: #fff; }

figure img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

body {
  font-size: 16px; }
  @media screen and (max-width: 750px) {
    body {
      font-size: 14px; } }
  @media screen and (max-width: 500px) {
    body {
      font-size: 13px; } }

body > header h1 {
  font-family: "proxima-nova-condensed";
  font-weight: 400;
  font-size: 3.5em;
  text-align: center;
  padding: 10% 0 6%;
  font-weight: 600; }
  @media screen and (max-width: 750px) {
    body > header h1 {
      font-size: 3em;
      padding: 12% 0 8%; } }
  @media screen and (max-width: 500px) {
    body > header h1 {
      font-size: 2em; } }
body > header em {
  font-style: normal; }

body > main {
  font-family: "chaparral-pro-caption";
  font-size: 1.27em;
  max-width: 32em;
  color: #333;
  padding-top: 1%;
  padding-bottom: 5%; }
  body > main p {
    line-height: 1.45;
    margin: 1.45em 0; }

form {
  font-family: "proxima-nova-condensed";
  padding-top: 5%; }
  form h2 {
    font-family: "proxima-nova-condensed";
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
  form p {
    text-align: center; }
  form input {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }

form fieldset legend {
  display: block; }

input {
  font-family: "proxima-nova-condensed";
  -webkit-appearance: none;
  border-radius: 0px;
  font-size: .8125em; }
  input[type='submit'] {
    border: none;
    background: #666;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1;
    padding: 10px; }
    input[type='submit']:hover, input[type='submit']:focus {
      outline: none;
      background: #111; }
    @media screen and (max-width: 500px) {
      input[type='submit'] {
        font-weight: 600; } }
  input.email {
    background: none;
    border: none;
    border-bottom: solid 2px #cccccc;
    line-height: 1;
    padding: 8px 4px;
    outline: none;
    width: 10em; }
    input.email:hover, input.email:focus {
      border-bottom-color: #aaa; }
  input.error {
    border-bottom-color: #ef3e42 !important; }
  input.placeholder {
    color: #999; }
  input + input {
    margin-left: 10px; }
  @media screen and (max-width: 750px) {
    input {
      font-size: 0.94em; } }
