@import "bourbon";

$type-sans: "cronos-pro-display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$type-serif: "minion-pro", serif;

$break-medium:    800px;
$break-small:     500px;
$break-x-small:   400px;

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.wrapper {
  margin: 0 auto;
  max-width: 22em;
}


html {
  height: 100%;
  background: #fff;
}

body {
  height: 100%;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

@mixin background-layers($size) {

  background-image: url('../../img/compositions/#{$size}/blue.png'),
                    url('../../img/compositions/#{$size}/yellow.png'),
                    url('../../img/compositions/#{$size}/red.png');
}

#illustration {  
  margin-top: 1.5em;
  max-height: 650px;
  height: 60%;

  background-size: auto 100%;
  background-repeat: repeat-x;

  background-position:   190% 0,
                        -240% 0,
                         110% 0;
  
  @include background-layers(desktop);

  .no-backgroundsize & {
    margin-top: 0;
  }

  .no-multiplebgs & {
    background: url('../../img/compositions/desktop.png') bottom center;
  }
}

.touch #illustration {
  
  @media screen and (orientation: portrait) {
    height: 43%;
  }

  /* PHONE ILLUSTRATIONS */
  @media screen and (orientation:portrait)  and (max-width:  550px) { @include background-layers(phone); }
  @media screen and (orientation:landscape) and (max-height: 550px) { @include background-layers(phone); }
  
  /* TABLET ILLUSTRATIONS */
  @media screen and (orientation:portrait)  and (min-width:  551px) { @include background-layers(tablet); }
  @media screen and (orientation:landscape) and (min-height: 551px) { @include background-layers(tablet); }
}




/* LAYOUT */
body > main {
  @extend .wrapper;
}

body > main {
  padding: 0 1.5em 2.5em;
}









/* TYPE */
body {
  font-size: 24px;
  font-family: $type-serif;
  color: #999;
}

a {
  color: #666666;
  text-decoration: none;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #000;
  }
}

h1, h2 {
  color: #52BAE1;
  color: rgba(0,0,0,0.7);
  font-family: $type-sans;
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 1.65em;
  padding: 1.75em 0 1.5em;
}

h2 {
  font-size: 1.2em;
  padding: 2em 0 1em;
}

p {
  line-height: 1.5;
  margin: 0 auto;
  + p {
    margin-top: 1.5em;
  }
}

form {
  font-family: $type-sans;

  label {
    @extend .visuallyhidden;
  }

  p {
    text-align: center;
  }

  input {
    @include inline-block;
  }
}

form fieldset {
  legend {
    display: block;
  }
}

input {
  font-family: $type-sans;
  -webkit-appearance: none;
  border-radius: 0px;
  font-size: .8125em;

  &[type='submit'] {
    border: none;
    background: #B3B3B3;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1;
    padding: 0.65em 0.8em 0.65em;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    font-weight: 600;

    &:hover,
    &:focus {
      outline: none;
      background: #666666;
    }
  }

  &.email {
    background: none;
    border: none;
    border-bottom: solid 2px #ccc;
    line-height: 1;
    padding: 8px 4px;
    outline: none;
    width: 12em;
    color: #444;

    &:hover,
    &:focus {
      border-bottom-color: #aaa;
    }
  }

  &.placeholder {
    color: #bbb;
  }

  + input {
    margin-left: 10px;
  }
}

form p.error {
  input[type='text'] {
    border-bottom-color: #EF3E42 !important;
  }
  input[type='email'] {
    border-bottom-color: #EF3E42 !important;
  }
  input[type='submit'] {
    background-color: #EF3E42 !important;
  }

}