@import "bourbon";

$type-serif-headings: "chaparral-pro-display", "Comic Sans";
$type-serif-body:     "chaparral-pro-caption";
$type-sans:           "proxima-nova-condensed";

$break-medium:  750px;
$break-small:   500px;

.visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.wrapper {
  margin: 0 auto;
  width: 70%;
  max-width: 1000px;

  @media screen and (max-width: $break-medium) {
    width: 80%;
  }

  @media screen and (max-width: $break-small) {
    width: 87%;
  }
}

#border {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  border: solid 10px rgba(0,0,0,0.1);
  z-index: -1;

  @media screen and (max-width: $break-small) {
    border-width: 5px;
  }
}

em {
  font-style: italic;
}

html {
  background: #fff;
}

figure img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

body {
  font-size: 16px;

  @media screen and (max-width: $break-medium) {
    font-size: 14px;
  }

  @media screen and (max-width: $break-small) {
    font-size: 13px;
  }
}

body > main,
body > header > * {
  @extend .wrapper;
}

body > header {

  h1 {
    font-family: $type-sans;
    font-weight: 400;
    font-size: 3.5em;
    text-align: center;
    padding: 10% 0 6%;
    font-weight: 600;

    @media screen and (max-width: $break-medium) {
      font-size: 3em;
      padding: 12% 0 8%;
    }

    @media screen and (max-width: $break-small) {
      font-size: 2em;
    }
  }

  em {
    font-style: normal;
  }
}

body > main {
  font-family: $type-serif-body;
  font-size: 1.27em;
  max-width: 32em;
  color: #333;
  padding-top: 1%;
  padding-bottom: 5%;

  p {
    line-height: 1.45;
    margin: 1.45em 0;
  }
}

form {
  font-family: $type-sans;
  padding-top: 5%;

  label {
    @extend .visuallyhidden;
  }

  h2 {
    font-family: $type-sans;
    font-size: 1.25em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    text-align: center;
  }

  input {
    @include inline-block;
  }
}

form fieldset {
  legend {
    display: block;
  }
}

input {
  font-family: $type-sans;
  -webkit-appearance: none;
  border-radius: 0px;
  font-size: .8125em;

  &[type='submit'] {
    border: none;
    background: #666;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1;
    padding: 10px;

    &:hover,
    &:focus {
      outline: none;
      background: #111;
    }

    @media screen and (max-width: $break-small) {
      font-weight: 600;
    }
  }

  &.email {
    background: none;
    border: none;
    border-bottom: solid 2px #ccc;
    line-height: 1;
    padding: 8px 4px;
    outline: none;
    width: 10em;

    &:hover,
    &:focus {
      border-bottom-color: #aaa;
    }
  }

  &.error {
    border-bottom-color: #EF3E42 !important;
  }

  &.placeholder {
    color: #999;
  }

  + input {
    margin-left: 10px;
  }

  @media screen and (max-width: $break-medium) {
    font-size: 0.94em;
  }
}