/* Reset Stylesheet*/
/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Eric Meyer's Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* HTML5 Boilerplate */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Uncomment and set colors */
/*
::-moz-selection  { background: #fe57a1; color: #fff; text-shadow: none; }
::selection       { background: #fe57a1; color: #fff; text-shadow: none; }
*/
a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/* Correct overflow displayed oddly in IE9  */
svg:not(:root) {
  overflow: hidden; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* Basic Styles */
.visuallyhidden, form label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.wrapper, body > main {
  margin: 0 auto;
  max-width: 22em; }

html {
  height: 100%;
  background: #fff; }

body {
  height: 100%; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

#illustration {
  margin-top: 1.5em;
  max-height: 650px;
  height: 60%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: 190% 0, -240% 0, 110% 0;
  background-image: url("../../img/compositions/desktop/blue.png"), url("../../img/compositions/desktop/yellow.png"), url("../../img/compositions/desktop/red.png"); }
  .no-backgroundsize #illustration {
    margin-top: 0; }
  .no-multiplebgs #illustration {
    background: url("../../img/compositions/desktop.png") bottom center; }

.touch #illustration {
  /* PHONE ILLUSTRATIONS */
  /* TABLET ILLUSTRATIONS */ }
  @media screen and (orientation: portrait) {
    .touch #illustration {
      height: 43%; } }
  @media screen and (orientation: portrait) and (max-width: 550px) {
    .touch #illustration {
      background-image: url("../../img/compositions/phone/blue.png"), url("../../img/compositions/phone/yellow.png"), url("../../img/compositions/phone/red.png"); } }
  @media screen and (orientation: landscape) and (max-height: 550px) {
    .touch #illustration {
      background-image: url("../../img/compositions/phone/blue.png"), url("../../img/compositions/phone/yellow.png"), url("../../img/compositions/phone/red.png"); } }
  @media screen and (orientation: portrait) and (min-width: 551px) {
    .touch #illustration {
      background-image: url("../../img/compositions/tablet/blue.png"), url("../../img/compositions/tablet/yellow.png"), url("../../img/compositions/tablet/red.png"); } }
  @media screen and (orientation: landscape) and (min-height: 551px) {
    .touch #illustration {
      background-image: url("../../img/compositions/tablet/blue.png"), url("../../img/compositions/tablet/yellow.png"), url("../../img/compositions/tablet/red.png"); } }

/* LAYOUT */
body > main {
  padding: 0 1.5em 2.5em; }

/* TYPE */
body {
  font-size: 24px;
  font-family: "minion-pro", serif;
  color: #999; }

a {
  color: #666666;
  text-decoration: none;
  font-weight: 700; }
  a:hover, a:focus {
    color: #000; }

h1, h2 {
  color: #52BAE1;
  color: rgba(0, 0, 0, 0.7);
  font-family: "cronos-pro-display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  font-weight: 600;
  line-height: 1.2; }

h1 {
  font-size: 1.65em;
  padding: 1.75em 0 1.5em; }

h2 {
  font-size: 1.2em;
  padding: 2em 0 1em; }

p {
  line-height: 1.5;
  margin: 0 auto; }
  p + p {
    margin-top: 1.5em; }

form {
  font-family: "cronos-pro-display", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
  form p {
    text-align: center; }
  form input {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }

form fieldset legend {
  display: block; }

input {
  font-family: "cronos-pro-display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-appearance: none;
  border-radius: 0px;
  font-size: .8125em; }
  input[type='submit'] {
    border: none;
    background: #B3B3B3;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1;
    padding: 0.65em 0.8em 0.65em;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    word-spacing: 0.1em;
    font-weight: 600; }
    input[type='submit']:hover, input[type='submit']:focus {
      outline: none;
      background: #666666; }
  input.email {
    background: none;
    border: none;
    border-bottom: solid 2px #cccccc;
    line-height: 1;
    padding: 8px 4px;
    outline: none;
    width: 12em;
    color: #444; }
    input.email:hover, input.email:focus {
      border-bottom-color: #aaa; }
  input.placeholder {
    color: #bbb; }
  input + input {
    margin-left: 10px; }

form p.error input[type='text'] {
  border-bottom-color: #ef3e42 !important; }
form p.error input[type='email'] {
  border-bottom-color: #ef3e42 !important; }
form p.error input[type='submit'] {
  background-color: #ef3e42 !important; }

/* Some extra media queries  */
@media screen and (max-width: 800px) {
  body {
    font-size: 20px; }

  h1 {
    padding: 1.5em 0 1.25em; }

  form {
    font-size: 23px; } }
@media screen and (max-width: 500px) {
  body {
    font-size: 18px; }

  form {
    font-size: 20px; } }
@media screen and (max-width: 400px) {
  body {
    font-size: 17px; }

  body > main {
    padding-left: 1em;
    padding-right: 1em; }

  h1 {
    font-size: 1.5em;
    padding: 1.25em 0 1em; }

  form input.email {
    text-align: center; }

  form input[type='submit'] {
    display: block;
    margin: 0 auto;
    margin-top: 1em; } }
/* Taken from Animate.css  */
@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px); } }

@-moz-keyframes shake {
  0%, 100% {
    -moz-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -moz-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -moz-transform: translateX(10px); } }

@-o-keyframes shake {
  0%, 100% {
    -o-transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    -o-transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    -o-transform: translateX(10px); } }

@keyframes shake {
  0%, 100% {
    transform: translateX(0); }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px); }

  20%, 40%, 60%, 80% {
    transform: translateX(10px); } }

.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }
